<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let item of blogItem">
            <div class="card" style="width: 18rem;">
                <img src="{{item.image}}" class="card-img-top" alt="{{item.title}}">
                <div class="card-body">
                    <h4 class="card-title">{{item.title}}</h4>
                    <p class="card-text">{{item.body | slice:0:200}}</p>
                    <a href="#" class="btn btn-primary">Read full</a>
                </div>
            </div>
        </div>
    </div>
</div>